<HTML>
  <BODY>
    <button onclick="window.location.pathname = '/prog/play/1'">Problem 1</button>
    <button onclick="window.location.pathname = '/prog/play/2'">Problem 2</button>
    <button onclick="window.location.pathname = '/prog/play/3'">Problem 3</button>
    <button onclick="window.location.pathname = '/prog/play/4'">Problem 4</button>
    <button onclick="window.location.pathname = '/prog/play/5'">Problem 5</button>
    <button onclick="window.location.pathname = '/rules'">Rules</button>
    <button onclick="window.location.pathname = '/leaderboard'">Leaderboard</button>
  </BODY>
</HTML>
