<HTML>
  <BODY>
    <ul>
      <li>
        Participants must download the input files for each problem.
      </li>
      <li>
        They must then feed the input file to their program and redirect the output to a file
      </li>
      <li>
        This can be done as follows <br />
        ./myprogram.out < inputfile.in > outputfile.out<br />
        python meh.py < inputfile.in > outputfile.out
      </li>
      <li>
        The output file hence generated must be uploaded for checking. <br />
        Scores on the leaderboard will be adjusted accordingly.
      </li>
      <li>
        Participants must upload their complete source code as well. <br />
        The submission will not be considered complete without the source code.
      </li>
      <li>
        For any queries, email maruthgoyal@gmail.com
      </li>
    </ul>
  </BODY>
</HTML>
